body {
  font: lighter 14pt 'Open Sans', sans-serif;
}

.home {
  height: 100vh;
  background: #262626;
}

.content {
  max-width: 700px;
  margin-top: 3rem;
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

h1 {
  font-size: 64pt;
  color: white;
  font-weight: lighter;
}

h2 {
  margin-bottom: 1rem;
  color: #B31918;
}

.bottom-link {
  padding-top: 30px;
  height: 140px;
}

.bottom-link a {
  color: #B31918;
}

.bottom-link i {
  font-size: 40pt;
}

@media only screen and (min-width: 768px) {
  .bottom-link i {
    font-size: 54pt;
  }
}

#map {
  height: 350px;
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  color: #8c8c8c;
  font-size: 12pt;
  padding: 10px;
  border-top: 1px solid #d9d9d9;
}

footer p {
  margin: 10px 0;
}