body {
  font: lighter 14pt 'Open Sans', sans-serif;
}

#home {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

h1 {
  font-size: 64pt;
  color: #B31918;
  font-weight: lighter;
}

h2 {
  color: #B31918;
}

#portrait {
  border-radius: 50%;
  width: 400px;
  max-width: 100%;
  border: 20px solid #B31918;
}

.portrait-container {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  max-width: 100%;
}

.content {
  max-width: 700px;
}

.triangle {
  height: 0;
  width: 0;
}

.shadow {
  z-index: -1000;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 100vh solid #f2f2f2;
  border-left: 100vw solid transparent;
}

#welcome {
  background-color: #ffcccc;
  font-weight: 400;
  font-size: 16pt;
  padding: 50px;
}

.divider-home {
  border-right: 100vw solid #f2f2f2;
  border-bottom: 50px solid #ffcccc;
}

.divider-welcome {
  border-left: 100vw solid #ffcccc;
  border-bottom: 50px solid transparent;
}

.divider-about {
  border-right: 100vw solid transparent;
  border-bottom: 50px solid #ffe6cc;
}

.divider-resume {
  border-left: 100vw solid #ffe6cc;
  border-bottom: 50px solid #262626;
}

#resume {
  background-color: #ffe6cc;
}

#contact {
  background-color: #262626;
  color: white;
}

.bottom-link {
  padding-top: 30px;
  height: 150px;
}

.bottom-link i {
  font-size: 40pt;
}

@media only screen and (min-width: 768px) {
  .bottom-link i {
    font-size: 54pt;
  }
}

a, a:active, a:hover, a:visited {
  color: white;
}

@media only screen and (max-width: 768px) {
  .email {
    visibility: hidden;
  }
}

.email {
  display: none;
}

#map {
  height: 350px;
}

footer {
  background-color: #f2f2f2;
  color: #8c8c8c;
  font-size: 12pt;
  padding: 10px;
  border-top: 1px solid #d9d9d9;
}

footer p {
  margin: 0;
}

#resume-btn {
  display: block;
  margin: 20px auto;
}

#resume-pic {
  margin-bottom: 20px;
}
