body {
  font: lighter 14pt 'Open Sans', sans-serif;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

h1 {
  font-size: 64pt;
  color: #B31918;
  font-weight: lighter;
}

h2 {
  margin-top: 0;
  color: #B31918;
}

#portrait {
  border-radius: 50%;
  width: 400px;
  max-width: 80%;
  border: 20px solid #B31918;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -o-transform;
  transition-property: transform;
}

#portrait:hover {
  cursor: pointer;
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.content {
  max-width: 700px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  padding: 0;
}

#welcome {
  color: white;
  background-color: #B31918;
  font-weight: 400;
  font-size: 16pt;
  margin-top: 50px;
}

#welcome h2 {
  color: white;
}

.bottom-angle:after, .top-angle:before {
  background: inherit;
  content: '';
  display: block;
  height: 50px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}

#welcome:before {
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

#welcome:after {
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

#about {
  background-color: #f2f2f2;
}

#resume {
  background-color: #ffe6cc;
}

#resume:before {
  transform: skewY(1.5deg);
  transform-origin: 100%;
}

#contact {
  /*display: relative;*/
  background-color: #262626;
  color: white;
}

#contact:before {
  background: inherit;
  content: '';
  display: block;
  height: 50px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.bottom-link {
  padding-top: 30px;
  height: 140px;
}

.bottom-link a:hover {
  color: #B31918;
}

.bottom-link a {
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
}

.bottom-link i {
  font-size: 40pt;
}

@media only screen and (min-width: 768px) {
  .bottom-link i {
    font-size: 54pt;
  }
}

a, a:active, a:hover, a:visited {
  color: white;
}

.email {
  display: none;
}

#map {
  height: 350px;
  width: 100%;
}

footer {
  background-color: #f2f2f2;
  color: #8c8c8c;
  font-size: 12pt;
  padding: 10px;
  border-top: 1px solid #d9d9d9;
}

footer p {
  margin: 10px 0;
}

#resume-btn {
  display: block;
  margin: 20px auto;
}
